.normal-text{
    font-size: 0.8rem;
    text-align: justify;
}

.yellow-text{
    color: #FFB31D;
}

.gray-text{
    color:#717171;
}

.h3, h3 {
    font-size: 1.2rem;
}

img{
    width: 100%;
}

.justify-content-evenly{
    justify-content: space-evenly;
}

.myContainer{
    margin:4% auto 0 auto;
    padding:7%;
    width: 84%;
}

.heighContent{
    height: 80vh;
}

.GoBackBtn{
    padding: 7px 45px;
    background:white;
    border-radius: 25px;
    box-shadow: 0px 0px 10px #bfbfbfba;
    margin-top: 20px;
    text-align: center;
    color: #FFB31D;
    cursor: pointer;
}

.GoBackBtn:hover{
    color: #FFB31D;
    text-decoration: unset;
}

.ptb-2{
    padding-top: 15px;
    padding-bottom: 15px;
}

.bottomBox{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 80px 35px
}
.myOtherWork{
    background:#cddee6;
}

.goBackHome{
    background:#F5F8FA;
}

@media screen and  (max-width:500px){
    .myContainer{
        width:90%;
    }
}